.yzm {
    .van-cell {
        width: 165px !important;
    }
}

// 首页搜索框
.cserch {
    .van-search {
        background-color: #ececec !important;
        width: 230px !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
        padding-bottom: 0 !important;
        padding-top: 5px !important;
    }
}

.serch {
    .van-search {
        padding: 0 !important;
    }
}

.van-swipe {
    height: 200px !important;
}

// .van-pull-refresh__head{
//     height: 10px !important;
// }
// 预览图片
.van-image-preview__swipe {
    height: 100% !important;
}

// 地址列表
.addresslist {
    .van-radio__icon {
        font-size: 5.333vw !important;
    }
}

// 购物车单选框
.cartscontent {
    i {
        font-size: .8em !important;
    }
}

// 编辑地址
.editaddresses {
    .van-switch {
        font-size: 20px !important;
    }
}

// 订单结算页面
.goodslists {
    .goods {
        .van-card {
            &:last-child {
                margin-bottom: 50px;
            }
        }
    }
}

// 我的订单
.van-tabs--line .van-tabs__wrap {
    width: 100%;
    position: sticky;
    top: 41px;
    z-index: 99;
}